<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassLib.Properties.Settings.BanksDBConnectionString"
            connectionString="Data Source=DESKTOP-MGF29AB;Initial Catalog=BanksDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>